SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
LAWS_AFRICA_API_KEY=""
TAVILY_API_KEY=""
OPENROUTER_API_KEY=""
VITE_AGENT_API_URL=""
VITE_SUPABASE_URL=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
AWS_ACCESS_KEY_ID=your_key_id
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_DEFAULT_REGION=